<section id="home-content">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <%= raw @page.content_for(:body) %>
      </div>
    </div>
  </div>
</section>

<div class="container">
<div class="row">
<div class="col-md-12">

<section id="image-carousel">



  <div id="hulse-carousel" class="carousel carousel-fade slide" data-ride="carousel">

    <%= render 'shared/carousel' %>

  <!-- Indicators -->
<!--   <ol class="carousel-indicators">
    <li data-target="#hulse-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#hulse-carousel" data-slide-to="1"></li>
    <li data-target="#hulse-carousel" data-slide-to="2"></li>
  </ol> -->

  <!-- Wrapper for slides -->
<!--   <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag 'dental_assistant_2.jpg', alt: 'tech 1', title: 'tech 1', class: 'img-responsive' %>
      <div class="carousel-caption">
        Image one
      </div>
    </div>
    <div class="item">
      <%= image_tag 'dental_assitant.jpg', alt: 'tech 1', title: 'tech 1', class: 'img-responsive' %>
      <div class="carousel-caption">
        Image two
      </div>
    </div>
    <div class="item">
      <%= image_tag 'home_action.jpg', alt: 'tech 1', title: 'tech 1', class: 'img-responsive' %>
      <div class="carousel-caption">
        Image three
      </div>
    </div>
    <div class="item">
      <%= image_tag 'home_bizcard.jpg', alt: 'tech 1', title: 'tech 1', class: 'img-responsive' %>
      <div class="carousel-caption">
        Image four
      </div>
    </div>
    <div class="item">
      <%= image_tag 'home_plants.jpg', alt: 'tech 1', title: 'tech 1', class: 'img-responsive' %>
      <div class="carousel-caption">
        Image five
      </div>
    </div>
    <div class="item">
      <%= image_tag 'home_toothbrush.jpg', alt: 'tech 1', title: 'tech 1' %>
      <div class="carousel-caption">
        Image six
      </div>
    </div>
    <div class="item">
      <%= image_tag 'kurt_home.jpg', alt: 'tech 1', title: 'tech 1' %>
      <div class="carousel-caption">
        Image six
      </div>
    </div>
    <div class="item">
      <%= image_tag 'reception_home.jpg', alt: 'tech 1', title: 'tech 1' %>
      <div class="carousel-caption">
        Image six
      </div>
    </div>

  </div> -->

  <!-- Controls -->
<!--   <a class="left carousel-control" href="#hulse-carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#hulse-carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a> -->


</div>





</section>

</div>
</div>
</div>

<%#= render '/refinery/content_page' %>
