<!DOCTYPE html>
<%= render "/refinery/html_tag" %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= render "/refinery/head" %>
    <%= render "/refinery/javascripts" %>
    <script src="https://use.fontawesome.com/6b052a3a8e.js"></script>
  </head>
  <body id="<%= canonical_id @page %>">

    <div id="media-query"></div>

    <%= site_bar -%>
    <div id="page_container">



      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <%= render "/refinery/header" -%>
          </div>
          <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-offset-0 col-md-4" id="logo">
            <%= image_tag 'HulseDentalLogo2016.png', class: 'img-responsive', alt: 'Hulse Dental Logo' %>
            <p class="text-center" id="contact-info">
                  <span>1840 E. Main St, Onalaska</span>
                  <span>608.783.1306</span>
                </p>
          </div>
        </div>
      </div>


     <!--  <header id="header">

        <section id="logo">
          <div class="container">
            <div class="row">
              <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-8 col-md-4 col-md-offset-8">
                <%= image_tag 'HulseDentalLogo2016.png', class: 'img-responsive', alt: 'Hulse Dental Logo' %>
              </div>
            </div>
          </div>
        </section>

        <section id="contact-info">
          <div class="container">
            <div class="row">
              <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-8 col-md-4 col-md-offset-8">
                <p class="text-center">
                  <span>1840 E. Main St, Onalaska</span>
                  <span>608.783.1306</span>
                </p>
              </div>
            </div>
          </div>

        </section>

        <%#= render "/refinery/header" -%>
      </header> -->

      <section id="page">
        <%= yield %>
      </section>
      <div class="container" id="pre-footer"></div>
      <footer>
        <%#= render "/refinery/footer" -%>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <small>(608) 783-1306 | 1840 East Main Street | Onalaska, WI | 54650<br />Hours: Monday - Friday, 8 - 5</small>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12" id="social-links">
              <%= link_to '<span class="fa fa-facebook-square fa-3x"></span>'.html_safe, 'https://www.facebook.com/Hulse-Dental-280440801973192/' %>
              <%= link_to '<span class="fa fa-twitter-square fa-3x"></span>'.html_safe, 'https://twitter.com/KHSTEADY/' %>
              <%= link_to '<span class="fa fa-envelope-square fa-3x"></span>'.html_safe, 'mailto:Khsteady@Gmail.com' %>

            </div>

          </div>
        </div>
        


      </footer>
    </div>
  </body>
</html>
